*,
*::after,
*::before {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.world {
    overflow: hidden;
    position: relative;
}

.score {
    position: absolute;
    font-size: 3vmin;
    right: 1vmin;
    top: 1vmin;
}

.start__screen {
    position: absolute;
    font-size: 5vmin;
    top: 50%;
    left: 50%;
    translate: -50% 50%;
}

.hide {
    display: none;
}

.grass {
    --left: 0;
    position: absolute;
    width: 300%;
    bottom: 0;
    left: calc(var(--left) * 1%);
    height: 15%;
}

.man {
    --bottom: 0;
    --top: auto;
    position: absolute;
    left: 3%;
    height: 30%;
    bottom: calc(var(--bottom) * 1%);
    top: calc(var(--top) * 1%);
}

.cactus {
    --left: 0;
    position: absolute;
    left: calc(var(--left) * 1%);
    height: 30%;
    bottom: 0;
}
